.form-horizontal{
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    width: 94%;
    padding: 40px 40px 0;
    margin: 30px 0;
    box-shadow: 2px 2px 10px #808080,25px -25px 0 5px rgba(0,0,0,0.15);
    position: relative;
}
.form-horizontal:before{
    content: 'SIGN IN';
    color: #8F94FB;
    font-size: 18px;
    transform: translateY(-50%) rotate(90deg);
    position: absolute;
    top: 50%;
    right: -48px;
}

.form-horizontal .heading{
    color: #8F94FB;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
    margin: 0 0 20px 0;
}
.form-horizontal .form-group{
    margin: 0 auto 20px;
    position: relative;
}
.form-horizontal .form-group:nth-child(3){ margin: 0 auto 10px; }
.form-horizontal .form-group>i{
    color: #999;
    font-size: 20px;
    position: absolute;
    left: 5px;
    top: 13px;
}
.form-horizontal .form-control{
    color: #808080;
    background-color: transparent;
    font-size: 16px;
    font-weight: 600;
    height: 45px;
    padding: 10px 8px 10px 30px;
    box-shadow: none;
    border: 0 solid rgba(0,0,0,0.2);
    border-bottom: 2px solid rgba(0,0,0,0.2);
    border-radius: 0;
    display: block;
}
.form-control::placeholder{
    color: rgba(0,0,0,0.2);
    font-size: 15px;
}
.form-horizontal .form-control:focus{
    color: #8F94FB;
    box-shadow: none;
    border-bottom-color: #8F94FB;
}
.form-horizontal .forgot-password{
    color: #808080;
    font-size: 13px;
    letter-spacing: 1px;
    display: inline-block;
    float: right;
}
.form-horizontal .forgot-password:hover{ color: #8F94FB; }
.form-horizontal .keep-signed{
    color: #808080;
    font-weight: 600;
    font-size: 13px;
    margin: 0 0 20px 0;
    display: inline-block;
    transition: all 0.3s ease;
}
.form-horizontal .keep-signed i{
    color: transparent;
    padding: 3px;
    margin-right: 5px;
    border: 1px solid #808080;
    border-radius: 2px;
    transition: all 0.3s ease;
}
.form-horizontal .keep-signed:hover,
.form-horizontal .keep-signed:focus{
    color: #8F94FB;
}
.form-horizontal .keep-signed:hover i,
.form-horizontal .keep-signed:focus i{
    color: #fff;
    background-color: #8F94FB;
    border-color: #8F94FB;
}
.form-horizontal .btn{
    color: #fff;
    background-color: #555;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    width: 50%;
    padding: 10px;
    margin: 0 auto 20px;
    border: none;
    display: block;
    transition: all 0.3s ease;
}
.form-horizontal .btn:focus,
.form-horizontal .btn:hover{
    background-color: #8F94FB;
    text-shadow: 0 0 5px #555;
    box-shadow: -3px -1px 5px rgba(0,0,0,0.3);
}
.form-horizontal .form-footer{
    background-color: #8F94FB;
    text-align: center;
    padding: 10px 0;
    margin: 0 -40px;
}
.form-horizontal .form-footer span{
    color: #fff;
    font-weight: 600;
    margin: 0 15px 0 0;
    display: inline-block;
}
.form-horizontal .social{
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-block;
}
.form-horizontal .social li{
    display: inline-block;
    margin: 0 5px;
}
.form-horizontal .social li a{
    color: #8F94FB;
    background-color: #fff;
    font-size: 16px;
    text-align: center;
    line-height: 30px;
    height: 30px;
    width: 30px;
    display: inline-block;
    transition: all 0.5s;
}
.form-horizontal .social li a:hover{
    border-radius: 50%;
    text-decoration: none;
}
.form-horizontal .social li:nth-child(1) a:hover{
    color: #fff;
    background-color: #3f51b5;
}
.form-horizontal .social li:nth-child(2) a:hover{
    color: #fff;
    background-color: #36c5ff;
}
@media only screen and (max-width:576px){
    .form-horizontal{
        text-align: center;
        width: 100%;
        padding: 20px 20px 0;
        margin: 0;
        box-shadow: 2px 2px 10px #808080;
    }
    .form-horizontal:before{ display: none; }
    .form-horizontal .form-footer{ margin: 0 -20px; }
    .form-horizontal .form-footer span{
        display: block;
        margin: 0 0 5px;
    }
    .form-horizontal .form-footer .social{ display: block; }
}
